<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lap.mywaytor">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.LOCATION_HARDWARE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-feature android:name="android.hardware.location.gps" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/mywaytoralf"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mywaytoralf"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAMfkjvkaIyEG4Zd1pAuAdvaehFHfQasfE" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CardRegistrationActivity">
        </activity>
        <activity android:name=".LocationActivity">
        </activity>
        <activity android:name=".DetailedMenuActivity">
        </activity>
        <activity android:name=".paymentActivity">
        </activity>
        <activity android:name=".MenuActivity">
        </activity>
        <activity android:name=".payActivity">
        </activity>
        <activity android:name=".RegisterActivity">
        </activity>
        <activity android:name=".ManageCardActivity">
         </activity>
        <activity android:name=".DeleteCardActivity">
        </activity>
        <activity android:name=".LocationCheckActivity" />
    </application>
</manifest>
